NodeRedFlow
[{"id":"7e68cd3f.a36764","type":"tab","label":"EventMonitor Dashboard","disabled":false,"info":""},{"id":"4550ba4a.9225e4","type":"ui_gauge","z":"7e68cd3f.a36764","name":"Logged In User","group":"5aa60e6a.9dea9","order":1,"width":"3","height":"2","gtype":"gage","title":"LoggedIn","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":980,"y":600,"wires":[]},{"id":"a3506979.637308","type":"inject","z":"7e68cd3f.a36764","name":"Inject","topic":"","payload":"","payloadType":"date","repeat":"20","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":200,"wires":[["fd03012b.81632"]]},{"id":"fd03012b.81632","type":"function","z":"7e68cd3f.a36764","name":"Random Number","func":"var msg = {};\nvar msg1 = {};\nvar msg2 = {};\n\nmsg.payload = Math.round(Math.random()*100);\nmsg.topic = \"Line1\";\n\nmsg1.payload = Math.round(Math.random()*100);\nmsg1.topic = \"Line2\";\n\nmsg2.payload = Math.round(Math.random()*100);\nmsg2.topic = \"Line3\";\nreturn [msg, msg1, msg2];","outputs":3,"noerr":0,"x":290,"y":200,"wires":[["f40125cc.157538"],["f40125cc.157538"],["f40125cc.157538"]]},{"id":"7bf443f.153b1bc","type":"debug","z":"7e68cd3f.a36764","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":560,"wires":[]},{"id":"5b8bf7da.e7d2a8","type":"streaming","z":"7e68cd3f.a36764","name":"Event Config Change","pushTopic":"/event/ConfigChangePE__e","replayId":"-1","resubScribeOnDoubeSubscription":false,"connection":"dcbb1a14.d89978","x":280,"y":300,"wires":[["858282d2.b5ae8"]]},{"id":"fac28b4d.f16ab8","type":"inject","z":"7e68cd3f.a36764","name":"","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":520,"wires":[["5b8bf7da.e7d2a8","93b1c7f5.df1b28","d92689bc.9a29c8","b9a9fef8.66124"]]},{"id":"f4b3fc50.2afd","type":"debug","z":"7e68cd3f.a36764","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":990,"y":260,"wires":[]},{"id":"858282d2.b5ae8","type":"change","z":"7e68cd3f.a36764","name":"Set Data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.payload.Detail__c","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":300,"wires":[["f9dc4ddf.6b088"]]},{"id":"93b1c7f5.df1b28","type":"streaming","z":"7e68cd3f.a36764","name":"Platform Event Login","pushTopic":"/event/LoginEventStream","replayId":"-1","resubScribeOnDoubeSubscription":false,"connection":"dcbb1a14.d89978","x":280,"y":540,"wires":[["7bf443f.153b1bc","c3ba6cc3.214f9","82ce44fb.fd45c8"]]},{"id":"5563fdbb.2e8f44","type":"ui_text","z":"7e68cd3f.a36764","group":"d6aae214.d6ee5","order":1,"width":"3","height":"2","name":"Login From:","label":"City","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":360,"wires":[]},{"id":"c3ba6cc3.214f9","type":"change","z":"7e68cd3f.a36764","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.payload.City","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":460,"wires":[["acf310ff.9b345"]]},{"id":"be90a5d2.dceeb8","type":"ui_gauge","z":"7e68cd3f.a36764","name":"","group":"5aa60e6a.9dea9","order":0,"width":"3","height":"2","gtype":"gage","title":"Admin LoginAs","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":740,"wires":[]},{"id":"d92689bc.9a29c8","type":"streaming","z":"7e68cd3f.a36764","name":"Platform Event Logout","pushTopic":"/event/LogoutEventStream","replayId":"-1","resubScribeOnDoubeSubscription":false,"connection":"dcbb1a14.d89978","x":280,"y":640,"wires":[["8c4f03bd.5b8e"]]},{"id":"b9a9fef8.66124","type":"streaming","z":"7e68cd3f.a36764","name":"Platform Event LoginAs","pushTopic":"/event/LoginAsEventStream","replayId":"-1","resubScribeOnDoubeSubscription":false,"connection":"dcbb1a14.d89978","x":290,"y":740,"wires":[["c3777c23.56d98"]]},{"id":"82ce44fb.fd45c8","type":"function","z":"7e68cd3f.a36764","name":"Login Counter +1","func":"var count = flow.get('count') || 0;\n//var gcount = global.get('count')||0;\ncount+=1;\nmsg.payload = count;\nflow.set('count', count);\n//global.set('count', gcount);\nreturn msg;\n","outputs":1,"noerr":0,"x":510,"y":600,"wires":[["4550ba4a.9225e4"]]},{"id":"8c4f03bd.5b8e","type":"function","z":"7e68cd3f.a36764","name":"Login Counter -1","func":"var count = flow.get('count') || 0;\n//var gcount = global.get('count')||0;\ncount-=1;\nmsg.payload = count;\nflow.set('count', count);\n//global.set('count', gcount);\nreturn msg;\n","outputs":1,"noerr":0,"x":510,"y":640,"wires":[["4550ba4a.9225e4","d503be71.b974f"]]},{"id":"c3777c23.56d98","type":"counter","z":"7e68cd3f.a36764","inc":1,"name":"","x":500,"y":740,"wires":[["be90a5d2.dceeb8"]]},{"id":"acf310ff.9b345","type":"function","z":"7e68cd3f.a36764","name":"Append City","func":"var city = flow.get('city') || \"\";\nif (city.split('\\n').length > 4) {\n    flow.set('city', \"\");\n} else {\n    city += '\\n' + msg.payload;\n    flow.set('city', city);\n    msg.payload = city;\n}\n//global.set('count', gcount);\nreturn msg;\n","outputs":1,"noerr":0,"x":750,"y":420,"wires":[["5563fdbb.2e8f44","5b54879a.a292b8"]]},{"id":"d503be71.b974f","type":"debug","z":"7e68cd3f.a36764","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":640,"wires":[]},{"id":"5b54879a.a292b8","type":"debug","z":"7e68cd3f.a36764","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":420,"wires":[]},{"id":"d9025252.73bb8","type":"function","z":"7e68cd3f.a36764","name":"Create table in context","func":"let sctab = [];\nflow.set(\"sctab\", sctab);\nreturn msg;","outputs":"1","noerr":0,"x":340,"y":80,"wires":[[]]},{"id":"891a84b2.149e18","type":"inject","z":"7e68cd3f.a36764","name":"","topic":"","payload":"Start","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"5","x":90,"y":80,"wires":[["d9025252.73bb8"]]},{"id":"894a2b3f.602c28","type":"ui_template","z":"7e68cd3f.a36764","group":"f0651551.1edb38","name":"SVG based template","order":0,"width":"12","height":"2","format":"<style>\n\n    #tex1 {\n        font-weight:normal;\n        font-size: 10;\n        letter-spacing: 4px;\n        fill: white;\n    }\n    \n</style>\n\n\n<svg height=\"100\" width=\"1200\" >\n\n<text id=\"tex1\" x=\"10\" y=\"20\" > {{msg.payload[0]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"40\" > {{msg.payload[1]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"60\" > {{msg.payload[2]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"80\" > {{msg.payload[3]}} </text>\n</svg>\n\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":960,"y":140,"wires":[[]]},{"id":"f9dc4ddf.6b088","type":"function","z":"7e68cd3f.a36764","name":"Add word to scrolling table","func":"let pay = msg.payload;\n\n// Read scrolling table from context\nlet sctab = flow.get(\"sctab\");\n\n// Modify scrolling table by adding msg.payload as first element\nlet size = sctab.unshift(pay);\n\n// Remove last element from scrolling table\nif (size >4) sctab.pop();\n\n// Update context for scrolling text\nflow.set(\"sctab\",sctab);\n\n// Shalow copy updated scrolling table to msg.payload\nmsg.payload = [...sctab];\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":220,"wires":[["894a2b3f.602c28","f4b3fc50.2afd"]]},{"id":"f40125cc.157538","type":"ui_chart","z":"7e68cd3f.a36764","name":"Login Hours","group":"595b9de7.d84b64","order":0,"width":"24","height":"4","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":510,"y":200,"wires":[[]]},{"id":"5a5fafdb.36618","type":"ui_switch","z":"7e68cd3f.a36764","name":"","label":"Login Event","tooltip":"","group":"be2a91a3.02dd","order":0,"width":"4","height":"2","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":350,"y":860,"wires":[[]]},{"id":"1f98a375.60a19d","type":"ui_switch","z":"7e68cd3f.a36764","name":"","label":"Logout Event","tooltip":"","group":"be2a91a3.02dd","order":1,"width":"4","height":"2","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":350,"y":900,"wires":[[]]},{"id":"1120fcbf.ed91a3","type":"ui_switch","z":"7e68cd3f.a36764","name":"","label":"LoginAs Event","tooltip":"","group":"be2a91a3.02dd","order":2,"width":"4","height":"2","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":540,"y":860,"wires":[[]]},{"id":"912f0f24.591fd","type":"ui_switch","z":"7e68cd3f.a36764","name":"","label":"Config Event","tooltip":"","group":"be2a91a3.02dd","order":3,"width":"4","height":"2","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":530,"y":900,"wires":[[]]},{"id":"7254dc23.963a74","type":"inject","z":"7e68cd3f.a36764","name":"Reset Login Counter","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":610,"y":520,"wires":[["9dc3a45.f898d58"]]},{"id":"9dc3a45.f898d58","type":"function","z":"7e68cd3f.a36764","name":"Reset Count","func":"flow.set('count', 0);\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":520,"wires":[["4550ba4a.9225e4"]]},{"id":"63936a23.e7ca74","type":"inject","z":"7e68cd3f.a36764","name":"Reset City Variable","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":400,"wires":[["5df07e8e.4b54f"]]},{"id":"e9a2c63d.7c6ab8","type":"comment","z":"7e68cd3f.a36764","name":"Setup Flow -- Config Change","info":"","x":140,"y":20,"wires":[]},{"id":"5416e2fb.6b927c","type":"comment","z":"7e68cd3f.a36764","name":"Setup Flow -- Login Hours Graph ","info":"","x":150,"y":140,"wires":[]},{"id":"2fca1f81.78dd2","type":"comment","z":"7e68cd3f.a36764","name":"Capture Event Section -- START ","info":"","x":150,"y":260,"wires":[]},{"id":"5df07e8e.4b54f","type":"function","z":"7e68cd3f.a36764","name":"Reset City From","func":"flow.set('city', \"\");\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":400,"wires":[["5563fdbb.2e8f44"]]},{"id":"ea62cc9.3826e3","type":"comment","z":"7e68cd3f.a36764","name":"RESET CITY","info":"","x":270,"y":360,"wires":[]},{"id":"95176c5f.983c5","type":"comment","z":"7e68cd3f.a36764","name":"RESET COUNTER","info":"","x":670,"y":480,"wires":[]},{"id":"2837e643.8f70fa","type":"comment","z":"7e68cd3f.a36764","name":"Button Section","info":"","x":100,"y":820,"wires":[]},{"id":"5aa60e6a.9dea9","type":"ui_group","z":"","name":"#Users","tab":"1c3b6dc.70ef192","disp":true,"width":"6","collapse":false},{"id":"dcbb1a14.d89978","type":"connection-config","z":"","name":"YOUR ORG","poturl":"","consumerKey":"YOUR CONSUMER KEY","consumerSecret":"YOUR CONSUMER SECRET","callbackUrl":"http://localhost","environment":"production","credentialType":"oauth","useEnvCredentials":false,"allowMsgCredentials":false,"userName":"YOUR USER","passWord":"YOUR PASSWORD","apiversion":"v45.0"},{"id":"d6aae214.d6ee5","type":"ui_group","z":"","name":"Last 4 Login From:","tab":"1c3b6dc.70ef192","disp":true,"width":"6","collapse":false},{"id":"f0651551.1edb38","type":"ui_group","z":"","name":"Last 4 Admin Changes:","tab":"1c3b6dc.70ef192","disp":true,"width":"12","collapse":false},{"id":"595b9de7.d84b64","type":"ui_group","z":"","name":"Login Hours","tab":"1c3b6dc.70ef192","disp":true,"width":"24","collapse":false},{"id":"be2a91a3.02dd","type":"ui_group","z":"","name":"Switch Group","tab":"1c3b6dc.70ef192","disp":true,"width":"24","collapse":false},{"id":"1c3b6dc.70ef192","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
